<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.du_lich_vn">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher_2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_2"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".Activity_ActionsAccount"
            android:exported="false" />
        <activity
            android:name=".Activity_ShowAccounts"
            android:exported="false" />
        <activity
            android:name=".Activity_Regis"
            android:exported="true" />
        <activity
            android:name=".Activity_ForgotPass"
            android:exported="true" />
        <activity
            android:name=".Activity_ShowPlaces"
            android:exported="false" />
        <activity
            android:name=".Activity_DetailPlace"
            android:exported="false" />
        <activity
            android:name=".Activity_ActionsPlace"
            android:exported="false" />
        <activity
            android:name=".Activity_AdminTools"
            android:exported="false" />
        <activity
            android:name=".Activity_Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_Main"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>